.shortcuts {
    font-size: 10px;
    color: #d1cbcb;
    text-align: right;
}

.ant-breadcrumb {
    overflow: hidden;
    text-overflow: ellipsis;
}

body,
.property-modal,
.delete-modal,
.file-upload-modal{
    user-select: none;
}

.delete-modal .ant-modal-close-x,
.file-upload-modal .ant-modal-close-x,
.property-modal .ant-modal-close-x{
    width: 44px;
    height: 38px;
    line-height: 38px;
}

.delete-modal .ant-modal-header,
.property-modal .ant-modal-header,
.file-upload-modal .ant-modal-header {
    padding: 8px 24px;
}

.delete-modal .ant-progress .ant-progress-bg {
    height: 14px;
}

.property-modal .ant-modal-body {
    padding: 5px 20px;
}

.file-upload-modal .ant-modal-body {
    height: 300px;
    padding: 0;
}

.property-modal .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding: 2px 4px;
}

.property-modal .ant-descriptions-bordered .ant-descriptions-item-content{
    padding: 5px 20px;
}

.property-modal .ant-descriptions-bordered .ant-descriptions-item-label {
    font-weight: 500;
    padding: 5px 20px;
}

.property-modal .ant-descriptions-bordered span.helper {
    font-size: 10px;
    font-style: italic;
    color: #ccc;
    margin: 0 10px;
}

.property-modal .ant-modal-footer {
    padding: 4px 16px;
}

.ant-card-bordered .ant-card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.ant-card .ant-card-body{
    padding: 5px;
}

.ant-card .ant-card-body .ant-card-meta-title {
    text-align: center;
    font-size: 12px;
    overflow-wrap: break-word;
    white-space:normal;
}

div.ant-dropdown ul.ant-dropdown-menu.hide-menu {
    display: none;
}

.ant-dropdown ul.selection-menu-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.ant-dropdown ul.selection-menu-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ant-dropdown ul.selection-menu-wrapper::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.ant-dropdown ul.selection-menu-wrapper::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e5e2e2;
}