.sidebar-popover.ant-popover-placement-rightTop {
  & .ant-popover-arrow {
    width: 0;
    height: 0;
    border-width: 0;
  }

  & .ant-popover-inner-content {
    padding: 6px 4px;
  }
}

.header-popover.ant-popover-placement-bottom {
  padding-top: 0px;

  & .ant-popover-arrow {
    width: 0;
    height: 0;
    border-width: 0;
  }

  & .ant-popover-inner-content {
    padding: 0;

    & a {
      color: #12344d;

      & svg {
        margin: 0 10px;
      }
    }

    & div.option {
      color: #12344d;
    }
  }
}
